.MuiButton-root {
  background: transparent;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MuiButton-root:hover {
  background-color: rgba(0, 0, 0, 0.87) !important;
}
.cancel-btn:hover {
  background-color: white !important;
}

/** Landing page section */

.landingpage-section {
  display: flex;
  min-height: 100vh;
}
.nav-section {
    background-color: red;
    height: 70px;
    width: 100%;
    display: flex;
}
.dropdown-section {
      margin: 0 20px;
      display: flex;
}
  .navigation {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0px 0px;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .MuiListItemIcon-root {
      min-width: auto;
}

.MuiChip-root {
  margin-right: 5px !important;
  margin-bottom: 5px !important;
}

.MuiAccordionSummary-root {
  padding: 0 10px;
  text-align: left;
}

.MuiAccordionDetails-root {
  padding: 8px 10px 8px;
  text-align: left;
}

.MuiAccordionSummary-root.Mui-expanded {
  min-height: 48px !important;
}

.MuiAccordionSummary-content.Mui-expanded {
  margin: 10px 0 !important;
}

.MuiAccordion-root.Mui-expanded {
  margin: 4px 0 !important;
}

.MuiAccordion-rounded {
  border-radius: 0 !important;
  box-shadow: none !important;
}


.MuiFormControl-marginNormal {
  margin-top: -13px !important;
}
.content-part{
  margin-top:80px
}
.main-section {
  width: 100%;
  display: flex;
}
.filter-main {
    width: 22%;
    height: 82vh;
    overflow: auto;
    margin-top: 100px;
    position: fixed;
}
.filter-heading {
      display: flex;
      font-size: 1.2rem;
      margin-bottom: 20px;
      font-weight: bold;
}
.filter-part {
      width: 100%;
      margin-bottom: 10px;
      padding-right: 20px;
}
.tags-root {
        padding-bottom: 20px;
        text-align: left;
  }
  .tags-label {
    width: 100%;
    text-align: left;
    font-weight: 500;
    text-transform: capitalize;
  }
  .content-part {
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    width: 80%;
    margin-left: 24%;
  }
  .MuiBox-root {
    padding: 0 !important;
  }
  .MuiButton-root {
    border-radius: 0;
}

.tabs-section {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.tab-panel {
    padding-top: 10px;
    text-align: left;
  }
.MuiPaper-root {
    box-shadow: none;
    background-color: transparent;
  }
  .footprint-content {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}

.chart-section {
  width: 50%;
  padding: 0px 10px;
}

.search-text {
  outline: none;
  border: 1px solid #cecece;
  margin-top: 10px;
  height: 22px;
  padding: 10px 5px;
  border-radius: 2px;
}
.error-msg{
  color:red;
  font-size:12px;
}
.icon{
  color:black;
  margin-left:10px;
  margin-top:3px
}
.color-default{
  color:rgb(120,120,120)
}